.cdk-container {
  display: flex;
  background-color: transparent;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  justify-content: start;
  flex-flow: row wrap;
  align-content: flex-start;
  z-index: 1;
  overflow: hidden;

  app-cdk-tile {
    max-height: 200px;
    z-index: 2;
    box-sizing: border-box;
    position: relative;
    padding: 3px 3px;
    margin-bottom: 10px;
  }
}

.hide-tiles-btn {
  right: 20px;
  bottom: 10px;
  position: fixed;
}

.main-app {
  background: linear-gradient(to right, #2b5876, #4e4376);
  height: 100%;
  width: 100%;
  color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.tile-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 200px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  margin-top: 20px;
}

.drag-handle {
  position: absolute;
  color: #ccc;
  cursor: move;
  width: 24px;
  height: 24px;
  z-index: 3;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .cdk-drag:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.home-main-text {
  padding-top: 10px;
  text-align: center;
  opacity: 0.6;
  color: white;
}

.home-main-text p {
  color: black;
  font-size: 13px;
}
